@import url('root.css');
@import url('../../font/font.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    position: relative;
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main-bg);
    background-image: url('../../images/Ellipse.png');
    background-position: center ;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
